<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><#^title^#></title>
    <!--css files-->
    <#^css^#>
    
    <!--js files-->
    <#^js^#>
</head>

<body>
<div id="wrapper">
  <div id="masthead" >
    <div class="logo"></div>
    <div class="headcont" id="header">
      <form class="update hidden" id="form1" name="form1" method="post" action="">
        <input type="submit" name="button" id="updbutton" value="update" />
        <input name="textfield" type="text" id="updbox" value="post your latest activity" /> 
        <span class="upd_left"></span>
      </form>
      <div class="altsms hidden">
        <div class="icon">
          <h1>from your mobile...</h1>
          <p>sms: <span class="note">! [your latest activity]</span> to 5455</p>
        </div>
      </div>
    </div>
    <div class="seperater"></div>
  </div>
  <div id="content">
    <div id="left">

      </div>
    <div id="right">
    	
      
    </div>
    <div class="footer">&copy; 2008 somewhere in net ltd. | <a href="#">terms of service</a> | <a href="#">privacy policy</a> | <a href="#">company</a> </div>
  </div>
</div>
</body>
</html>
